:root {
}

.content pre {
  border-radius: 15px;
  padding: 30px;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-4);
  overflow: auto;

  code {
    color: var(--gray-12);
  }

  code .co {
    color: var(--gray-10);
  }

  code .kw,
  code .at,
  code .cf {
    color: var(--red);
  }

  code .op {
    color: var(--red);
  }

  code .dt {
    color: var(--orange);
  }

  code .st {
    color: var(--green);
  }

  code .dv,
  code .fl {
    color: var(--light-blue);
  }

  code .bu {
    color: var(--blue);
  }
}