:root {
  --gray-0: #FFFFFF;
  --gray-1: #FCFCFC;
  --gray-2: #F9F9F9;
  --gray-3: #F0F0F0;
  --gray-4: #E8E8E8;
  --gray-6: #D9D9D9;
  --gray-7: #CECECE;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;
  --red-10: #DC3E42;
  --blue-10: #0588F0;
  --green-10: #2B9A66;
  --orange-10: #EF5F00;
  --yellow-10: #FFDC00;
  --sky-10: #74DAF8;

  --primary-1: #0080FF04;
  --primary-2: #008CFF0B;
  --primary-3: #008FF519;
  --primary-4: #009EFF2A;
  --primary-5: #0093FF3D;
  --primary-6: #0088F653;
  --primary-7: #0083EB71;
  --primary-8: #0084E6A1;
  --primary-9: #0090FFFF;
  --primary-10: #0086F0FA;
  --primary-11: #006DCBF2;
  --primary-12: #002359EE;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --gray-0: #000000;
    --gray-1: #111111;
    --gray-2: #191919;
    --gray-3: #222222;
    --gray-4: #2A2A2A;
    --gray-6: #3A3A3A;
    --gray-7: #484848;
    --gray-10: #7B7B7B;
    --gray-11: #B4B4B4;
    --gray-12: #EEEEEE;
    --red-10: #EC5D5E;
    --blue-10: #3B9EFF;
    --green-10: #33B074;
    --orange-10: #FF801F;
    --yellow-10: #FFEF5C;
    --sky-10: #A8EEFF;

    --primary-1: #1C1500FF;
    --primary-2: #221A00FF;
    --primary-3: #2C2100FF;
    --primary-4: #FDC2001C;
    --primary-5: #FEC70026;
    --primary-6: #FED80032;
    --primary-7: #FFDB1344;
    --primary-8: #FED8005E;
    --primary-9: #FFE20AF3;
    --primary-10: #FFF45EF9;
    --primary-11: #FFCCOOEE;
    --primary-12: #FFFFD5F9;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border: 1px solid #ffffff40;
  border-radius: 24px;
}

*::-webkit-scrollbar {
  background-color: #00000000;
  display: block;
  width: 8px;
  height: 8px;
}

body {
  background-color: var(--gray-0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 85%;
}

.highlight {
  background-color: color-mix(in srgb, var(--primary-10), transparent 75%);
}

nav.left-pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;

  >.top {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 12px 16px;
    gap: 4px;
  }

  header {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray-12);
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 16px;

    .logo {
      a {
        display: block;
        color: var(--gray-12);

        svg {
          display: block;
        }
      }
    }

    a {
      color: var(--gray-11);
      text-decoration: none;

      &:hover {
        color: var(--gray-12);
      }
    }

    .line {
      width: 1px;
      height: 20px;
      background-color: var(--gray-6);
    }

    .spacer {
      flex: 1;
    }

    .collapse-button {
      cursor: pointer;
      display: block;
      width: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 16px;
    }
  }

  .search-box {
    position: relative;

    .search-icon {
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--gray-10);
    }

    input[type=search]:focus~.search-icon {
      color: var(--gray-12);
    }

    .hotkey {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    .clear-button {
      display: none;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--gray-11);
      cursor: pointer;

      &:hover {
        color: var(--gray-12);
      }
    }

    input[type=search] {
      appearance: none;
      width: 100%;
      height: 34px;
      padding: 12px 8px 12px 31px;
      background-color: var(--gray-1);
      border: 1px solid var(--gray-4);
      border-radius: 6px;
      outline: none;
      font-size: 14px;
      line-height: 16px;
      color: var(--gray-10);

      &::placeholder {
        color: var(--gray-10);
      }

      &:focus {
        padding-left: 30px;
        border-width: 2px;
        border-color: var(--primary-10);
        color: var(--gray-12);
      }

      &::-webkit-search-cancel-button {
        display: none;
      }

      &::-moz-search-cancel-button {
        display: none;
      }
    }
  }

  .search-stats {
    display: none;
    color: var(--gray-10);
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
  }

  .wrapper {
    flex: 1;
    overflow: hidden;
    display: grid;
  }
}

.search-results {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  background-color: var(--gray-0);
  color: var(--gray-10);
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: 0 8px 16px 16px;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none;
  user-select: none;
  display: none;

  .menu {
    gap: 4px;
  }

  .menu-head {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 6px;
    gap: 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;

    p {
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: var(--gray-2);
      color: var(--gray-12);
    }
  }

  a {
    display: block;
    color: var(--gray-11);
    text-decoration: none;
    padding: 6px 8px 6px 24px;
    border-radius: 6px;

    h3 {
      color: var(--gray-12);
      font-size: 13px;
      line-height: 16px;
      font-weight: 600;
    }

    &:hover,
    &.selected {
      background-color: var(--primary-3);
      color: var(--primary-11);

      h3 {
        color: var(--primary-12);
      }
    }

    &.selected {
      background-color: var(--primary-5);
    }
  }
}

nav.side {
  grid-column: 1;
  grid-row: 1;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: 0 8px 0 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-11);
  -webkit-user-select: none;
  user-select: none;

  .item {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 6px;
    padding: 6px 8px;

    &:hover {
      cursor: pointer;
      background-color: var(--gray-3);
    }

    a {
      color: var(--gray-11);
      text-decoration: none;
      display: block;
      width: 100%;
      margin: -6px -8px -6px -4px;
      padding: 6px 8px 6px 4px;
      box-sizing: content-box;

      &:hover {
        color: var(--gray-12);
      }

      &.target {
        font-weight: 600;
        color: var(--gray-12);
      }
    }
  }

  .menu .item {
    padding-left: 24px;

    &:not(.menu-head) a {
      margin-left: -24px;
      padding-left: 24px;
    }

    &.menu-head {
      padding-left: 8px;
    }
  }

  .menu .menu .item {
    padding-left: 32px;

    &:not(.menu-head) a {
      margin-left: -32px;
      padding-left: 32px;
    }

    &.menu-head {
      padding-left: 16px;
    }
  }

  .menu .menu .menu .item {
    padding-left: 40px;

    &:not(.menu-head) a {
      margin-left: -40px;
      padding-left: 40px;
    }

    &.menu-head {
      padding-left: 24px;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-head+.menu {
  display: none;
}

.menu-head.expanded+.menu {
  display: flex;
}

.menu-head::before {
  content: "\25b6";
  flex-shrink: 0;
  font-size: 8px;
  line-height: 8px;
  color: var(--gray-11);
  display: block;
  width: 8px;
  height: 8px;
}

.menu-head:hover:not(:has(a:hover))::before {
  color: var(--gray-12);
}

.menu-head.expanded::before {
  content: "\25bc";
}

.resizer {
  width: 8px;
  cursor: ew-resize;

  &:hover {
    border-left: 1px solid var(--gray-4);
  }
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

article {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  >.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 950px;
    padding: 48px 64px;

    color: var(--gray-11);
    font-size: 16px;
    line-height: 24px;

    p {
      text-wrap: pretty;
      /* 
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      */
    }

    strong {
      font-weight: 500;
      color: var(--gray-12);
    }

    a {
      color: var(--primary-10);
      text-underline-offset: 0.2em;
      text-decoration-thickness: 1px;

      code {
        color: var(--primary-10);
      }
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a {
      color: var(--gray-12);
      text-decoration: none;

      code {
        color: var(--gray-12);
      }
    }

    .anchor::after {
      margin-left: 8px;
      content: url("../img/link.svg");
      opacity: 0.2;
    }

    .anchor:hover::after {
      opacity: 0.77;
    }

    :target .anchor::after {
      /* computed using https://codepen.io/sosuke/pen/Pjoqqp */
      filter: invert(52%) sepia(55%) saturate(5949%) hue-rotate(189deg) brightness(93%) contrast(105%);
      opacity: 1;
    }

    @media (prefers-color-scheme: dark) {
      .anchor::after {
        filter: invert(100%);
      }

      :target .anchor::after {
        filter: invert(91%) sepia(89%) saturate(569%) hue-rotate(332deg) brightness(104%) contrast(103%);
      }
    }

    code {
      color: var(--gray-12);
    }

    img {
      max-width: 100%;
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    li {
      margin-left: 16px;
    }

    table {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      border-collapse: collapse;

      tr {
        th {
          text-align: left;
          font-weight: 600;
        }

        th,
        td {
          padding: 4px 8px;
          border: 1px solid var(--gray-4);
        }
      }

      tr:nth-child(2n) {
        background-color: var(--gray-1);
      }
    }
  }
}