* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --Bright-Lime-10: rgba(147, 201, 38, 1);
  --Bright-Amber-10: rgba(255, 160, 28, 1);
  --Colors-Indigo-10: rgba(51, 88, 212, 1);
  --Grays-Gray-0: rgba(255, 255, 255, 1);
  --Grays-Gray-1: rgba(252, 252, 252, 1);
  --Grays-Gray-4: rgba(232, 232, 232, 1);
  --Grays-Gray-11: rgba(100, 100, 100, 1);
  --Grays-Gray-12: rgba(32, 32, 32, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --Bright-Lime-10: rgba(204, 255, 0, 1);
    --Bright-Yellow-10: #FFEF5C;
    --Bright-Amber-10: rgba(255, 203, 71, 1);
    --Colors-Indigo-10: rgba(84, 114, 228, 1);
    --Grays-Gray-0: rgba(0, 0, 0, 1);
    --Grays-Gray-1: rgba(17, 17, 17, 1);
    --Grays-Gray-3: #222222;
    --Grays-Gray-4: rgba(42, 42, 42, 1);
    --Grays-Gray-6: #3A3A3A;
    --Grays-Gray-11: rgba(180, 180, 180, 1);
    --Grays-Gray-12: #EEEEEE;
  }
}

body {
  background-color: var(--Grays-Gray-0);
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav.top {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--Grays-Gray-12);
  padding: 8px 16px;
  height: 56px;
  border-bottom: 1px solid var(--Grays-Gray-4);
  font-size: 14px;
  line-height: 16px;

  .logo {
    a {
      display: block;

      img {
        display: block;
      }
    }
  }

  a {
    color: var(--Grays-Gray-11);
    text-decoration: none;

    &:hover {
      color: var(--Grays-Gray-12);
    }
  }

  .line {
    width: 1px;
    height: 20px;
    background-color: var(--Grays-Gray-6);
  }

  .spacer {
    flex: 1;
  }

  input[type=search] {
    appearance: none;
    width: 290px;
    height: 34px;
    padding: 12px 9px 12px 8px;
    background-color: var(--Grays-Gray-1);
    border: 1px solid var(--Grays-Gray-4);
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
  }
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

nav.side {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--Grays-Gray-11);

  a {
    color: var(--Grays-Gray-11);
    text-decoration: none;

    &:hover {
      color: var(--Grays-Gray-12);
    }
  }

  .item {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 6px;
    padding: 6px 8px;

    &:hover {
      cursor: pointer;
      background-color: var(--Grays-Gray-3);
    }

    a {
      display: block;
      width: 100%;
      margin: -6px -8px;
      padding: 6px 8px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .menu-head+.menu {
    display: none;
  }

  .menu-head.expanded+.menu {
    display: block;
  }

  .menu .item {
    padding-left: 24px;

    &.menu-head {
      padding-left: 8px;
    }
  }

  .menu .menu .item {
    padding-left: 32px;

    &.menu-head {
      padding-left: 16px;
    }
  }

  .menu .menu .menu .item {
    padding-left: 40px;

    &.menu-head {
      padding-left: 24px;
    }
  }

  .menu-head::before {
    content: "▶";
    flex-shrink: 0;
    font-size: 8px;
    line-height: 8px;
    display: block;
    width: 8px;
    height: 8px;
  }

  .menu-head.expanded::before {
    content: "▼";
  }
}

article {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 858px;
    padding: 48px 64px;

    color: var(--Grays-Gray-11);
    font-size: 16px;
    line-height: 24px;

    /* p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    } */

    a {
      color: var(--Bright-Yellow-10);
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }

    h1 a,
    h2 a,
    h3 a {
      color: var(--Grays-Gray-12);
      text-decoration: none;
    }

    .anchor::after {
      margin-left: 8px;
      vertical-align: middle;
      content: url("../img/link.svg");
      height: 16px;
      opacity: 0.2;
    }

    .anchor:hover::after {
      opacity: 0.77;
    }

    :target .anchor::after {
      content: url("../img/link-active.svg");
      opacity: 1;
    }
  }
}