[submodule "src/clients/java/src/zig/lib/jui"]
	path = src/clients/java/lib/jui
	url = https://github.com/zig-java/jui.git
[submodule "tools/tracy"]
	path = tools/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "deps/blake3"]
	path = deps/blake3
	url = git@github.com:BLAKE3-team/BLAKE3.git
