src/clients/c/lib
dist/
journal
/main
simulator
/tigerbeetle
/tigerbeetle.exe
*_*.tigerbeetle.*
zig/
zig-cache/
zig-out/
kcov-output/

tools/tracy
# It is occasionally useful to dump LLVM IR to an `.ll` file to investigate perf problems.
.ll
# By convention, logs from simulator use .vopr extension.
*.vopr

# We have a recommended vscode config under tools/vscode, which you can symlink to .vscode.
/.vscode
