.vscode
build/
dist/
node_modules/
yarn-error.log
zig-cache/
zig/

#ignore binary from benchmark script
tigerbeetle

#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*