:root {
    --Bright-Lime-10: #93C926;
    --Bright-Amber-10: #FFA01C;
    --Colors-Indigo-10: #3358D4;
    --Grays-Gray-1: #FCFCFC;
    --Grays-Gray-4: #E8E8E8;
    --Grays-Gray-11: #646464;
    --Grays-Gray-12: #202020;
}

@media (prefers-color-scheme: dark) {
    :root {
        --Bright-Lime-10: #CF0;
        --Bright-Amber-10: #FFCB47;
        --Colors-Indigo-10: #5472E4;
        --Grays-Gray-1: #111111;
        --Grays-Gray-4: #2A2A2A;
        --Grays-Gray-11: #B4B4B4;
        --Grays-Gray-12: #EEEEEE;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Grays-Gray-1);
    color: var(--Grays-Gray-12);
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

a {
    color: var(--Colors-Indigo-10);
    text-underline-offset: 0.1em;
}

h2 {
    display: flex;
    gap: 16px;
    align-items: center;
}

h2 a {
    font-size: 14px;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 16px;
    border-bottom: 1px solid var(--Grays-Gray-4);
}

nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Grays-Gray-4);
    height: 56px;
    padding: 8px 16px;
}

#svg-logo-devhub {
    fill: var(--Bright-Lime-10);
}

main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;
}

section#top {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;

    section {
        height: min-content;
        border: 1px solid var(--Grays-Gray-4);
        border-radius: 6px;
    }

    table {
        line-height: 24px;
        padding: 8px 16px;
        border-spacing: 0;
    }

    #release table {
        color: var(--Grays-Gray-11);

        strong {
            font-weight: normal;
            color: var(--Grays-Gray-12);
        }
    }

    #links div {
        padding: 8px 16px;

        p {
            line-height: 24px;
        }
    }
}

section#fuzz-runs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;

    table {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid var(--Grays-Gray-4);
        border-radius: 6px;
        line-height: 24px;

        th {
            text-align: left;
        }

        th,
        td {
            padding: 4px 8px;
        }

        tr.group-start td {
            border-top: 1px solid var(--Grays-Gray-4);
        }

        tr.success {
            color: var(--Bright-Lime-10);
        }
    }
}

section#metrics {
    display: flex;
    flex-direction: column;
    gap: 12px;

    #charts {
        border: 1px solid var(--Grays-Gray-4);
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        gap: 8px;
        justify-items: stretch;

        >div {
            width: 600px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    #charts {
        color: var(--Grays-Gray-1);

        >div {
            filter: invert(1);
        }
    }
}