[submodule "src/zig/libs/jui"]
	path = src/zig/libs/jui
	url = https://github.com/zig-java/jui.git
[submodule "src/zig/libs/tigerbeetle"]
	path = src/zig/libs/tigerbeetle
	url = https://github.com/coilhq/tigerbeetle.git
