zig-cache/
zig-out/
src/tigerbeetle-java/build
src/tigerbeetle-java/target
src/tigerbeetle-java/src/main/resources/lib/**
samples/build
samples/target
*tigerbeetle.benchmark
*tigerbeetle.samples
*.log
