name: Docker CI

on:
  # Run CI against any commits pushed to 'main'.
  push:
    branches:
      - 'main'
  # Run CI for any PRs that target 'main' when they are opened or updated.
  pull_request:
    branches:
      - 'main'
    types:
      - opened
      - synchronize

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./scripts/install_zig.sh
      - run: zig/zig build test

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ github.ref == 'refs/heads/main' }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build1
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: release
          platforms: linux/amd64,linux/arm64

      # Validate the image
      - uses: actions/checkout@v2
      - run: ./scripts/confirm_image.sh ${{ steps.docker_build1.outputs.imageid }} --want-production

  build-and-push-debug:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        id: docker_build2
        with:
          build-args: |
            DEBUG=true
          tags: ghcr.io/${{ env.IMAGE_NAME }}:debug
          labels: ${{ steps.meta.outputs.labels }}
          target: release
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64

      # Validate the image
      - uses: actions/checkout@v2
      - run: ./scripts/confirm_image.sh ${{ steps.docker_build2.outputs.imageid }} --want-debug
