name: macOS

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        target: [macos-13]
    runs-on: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v4
        # Fetch the entire history of the commit in question for tidy.
        with:
          fetch-depth: 2147483647
      - run: ./scripts/install_zig.sh
      - run: ./zig/zig build test

  c_sample:
    strategy:
      matrix:
        target: [macos-13]
    runs-on: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/install_zig.sh
      - run: ./zig/zig build clients:c:sample -Drelease
