name: Windows

on:
  workflow_call:

jobs:
  c_sample:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - run: .\scripts\install_zig.bat
      - run: .\zig\zig build clients:c:sample
